<div class="card bg-light mb-5 mt-3">
  <div class="card-header text-center">
    Current Doctors
  </div>
  <div class="card-body">
    <ul class="list-group">
      <% @doctors.each do |doctor| %>
        <%= link_to doctor.name, doctor, class: "list-group-item list-group-item-action list-group-item-light" %>
      <% end %>
    </ul>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-header text-center">
  	Add Doctor
  </div>
  <div class="card-body">
    <%= render "form", doctor: Doctor.new %>
  </div>
</div>