<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #453f3d;">
  <div class="container-fluid">
    <%= link_to 'Rails Hospital App', appointments_path, class:'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to 'Appointments', appointments_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Doctors', doctors_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Patients', patients_path, class:'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>